/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.button {
  font-size: 32px;
  border: none;
  border-radius: 10px;
  background-color: $blue;
  padding: 4px 25px;
  color: white;
  vertical-align: middle;
}
