/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.button {
  font-size: 36px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: transparent;
  padding: 4px 20px;
  color: white;
}
