.footer {
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark_blue;
  color: white;
  .logo-mooc-footer {
    padding: 30px 0;
  }
}

.footer h3, h2 {
  color: white;
  padding: 20px 0;
}

.footer ul {
  padding: 40px 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  list-style-type: none;
}
