.banner h1 {
  color: white;
  font-size: 72px;
}

.banner p {
  color: white;
  font-size: 36px;
}

.logo-mooc {
  min-width: 100px;
  min-height: 50px;
  text-align: right;
  padding: 25px 0 0 0;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 42px;
  color: $dark_blue;
}

.logos-founders {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  img {
    padding: 0 20px;
  }
}

.logos-partners {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
  img {
    padding: 0 20px;
  }
}

.logo img {
  width: 300px;
  height: 273px;
}

.teaser {
  width: 900px;
  margin: 10px auto 30px auto;
  display: block;
}


